---
layout: minimal
title: "About me"
permalink: /about/index.html
description: ""
---

{%include header-default.html%}
{%include author.html%}
{%include links.html%}

<h2>关于我</h2>

<p>07年本科进入哈工大学习，13年哈工大硕士毕业。目前在杭州，就职阿里巴巴集团，专注前端全栈领域开发。</p>

<p>下面为博主早起的一些经历：</p>

<p>12年在哈尔滨参加百度校招实习，顺利进入前端研发部实习。作为刚入门的菜鸟加入了强大的百度前端基础组，百度前端体系的很多基础服务都是产自这个大组，包括FIS、UEditor，当时博主主要开发GMU框架——移动端的通用UI框架，遇上了很赞的老大以及很棒的同事，这段时间也是博主成长最快的时间，2个月后顺利拿到Offer回校。</p>

<p>13年校招进入百度LBS部分，参与研发地图相关的前端应用。</p>

<p>14年，百度外卖从LBS部分独立成立一个事业部，转移至百度外卖带领一个前端小团队参与物流方向的研发，先后研发多个物流平台，获得两项专利。</p>

<h2>技能</h2>

<ul class="skill-list">
	<li>HTML/CSS</li>
	<li>Javascript（浏览器端）</li>
	<li>NodeJS/Koa</li>
	<li>React</li>
	<li>PHP</li>
	<li>Git</li>
	<li>Gulp/Grunt/Webpack</li>
	<li>Linux</li>
</ul>

<h2>相关开源项目：</h2>

<ul>
	<li><a href="https://github.com/chenckang/node-stylus-require">node-stylus-require</a></li>
	<li><a href="https://github.com/chenckang/webpack-php-mock">webpack-php-mock</a></li>
</ul>
