<section class="author" itemprop="author">
  <div class="details" itemscope>
    <div class="profile">
      <img itemprop="image" class="img-rounded" src="/assets/img/blog-author.jpg" alt="{{site.name}}">
    </div>
    <div class="info">
      <h3>東の康</h3>
      <p>前端开发者 | <small>动画爱好者</small></p>
      <p>就职于 - <em>阿里巴巴</em></p>
      <p>目前专注于前传全栈开发</p>
      <p class="weibo">
        <wb:follow-button uid="2991975565" type="gray_1" width="67" height="24" ></wb:follow-button>
      </p>
    </div>
  </div>
</section>
