<ul class="links">
  <li><a href="https://github.com/chenckang"><i class="fa fa-github fa-2x"></i></a></li>
  <li><a href="http://weibo.com/1631219274/profile?rightmod=1&wvr=6&mod=personinfo"><i class="fa fa-weibo fa-2x"></i></a></li>
  <li><a href="http://www.linkedin.com/in/%E5%BA%B7-%E9%99%88-670299a1?trk=hp-identity-name"><i class="fa fa-linkedin fa-2x"></i></a></li>
  <li><a href="https://plus.google.com/u/0/106176815623530308400/posts"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
</ul>
