<div class="search-wrapper">
  <div class="search-form">
    <input type="text" class="search-field" placeholder="Search...">

    <ul class="search-results search-list"></ul>
  </div>
</div>

<div class="menu-btns">
  <a id="slide" class="slideButton fade">
    <i class="fa fa-align-justify fa-lg"></i>
  </a>
  <a id="search" class="dosearch">
    <i class="fa fa-search fa-lg"></i>
  </a>
</div>

<aside id="sidebar">
  <nav id="navigation">
    <h2>MENU</h2>
    <ul>
      {% for link in site.links %}
        <li><a href="{{ site.url }}{{site.baseurl}}{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
      <!-- <li><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">Feed</a></li> -->
    </ul>
  </nav>
  <button id="fade" class="close-btn"><i class="fa fa-close fa-lg"></i></button>
</aside>
