html, body {
    font-size: 16px;
}

.main-article {
    width: 100%;
    margin: auto;
    padding: 100px 40px 30px 40px;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.main-article .title {
    font-size: 1.8em;
    text-align: center;
}

.main-article .signature {
    text-align: center;
    margin: 10px 0;
}

.main-article .signature date {
    font-size: .8em;
}

.main-article hr {
    margin: 5px 0 20px 0;
}

.main-article .first-paragraph:first-letter {
    font-size: 6em;
    float: left;
    margin-right: 0.02em;
    line-height: 0.75;
}

.main-article p {
    margin: 30px 0;
}

.main-article blockquote {
    text-indent: 2em;
}
