.author
  text-align center
  margin 4em 0
  .profile
    display inline-block
    margin-left -4em

  .info
    display inline-block
    text-align left
    vertical-align top
    margin-left 2em
    h3
      font-size 1.4em
    p
      font-size .8em
      line-height 1em
      text-indent 0

    .weibo
      margin-top 1em
      white-space nowrap
