main
    padding-top rem(100px)
    margin-bottom 68px

.row
    center(rem(1030px))

.flex-grid
    display flex
    flex-flow row wrap

.title-category
    center(rem(1000px))
    font-size rem(40px)
    margin-top 0
    text-transform uppercase
    padding 0 rem(15px)

.box-item
    width: main-width
    margin: auto;
    border-top 1px solid #fefefe
    box-shadow 0 2px 4px #eee
    transition all .3s
    &:hover
        box-shadow 1px 2px 10px #eee
    a
        text-decoration none
        &:hover
            .box-item
                box-shadow 10px 10px 10px #eee
    .box-body
        padding rem(25px)
        time
            font-size rem(14px)
            color #b2bac2
            padding-left 1em
        h2
            margin rem(5px) 0 rem(15px)
            font-size rem(20px)
            mainFont(800)
            span
                color
        p
            margin 0 0 rem(20px)
            color #bbb
            font-size rem(14px)
            line-height rem(22px)
        .post-title
            display: inline;
            a
              color #999
        .tags
            float right
            a
              color #999
              padding 4px 8px
              border-radius 3px
              display inline-block
              z-index 50
              border 1px solid #eee
