@media screen and (max-width: 480px)
  .menu-btns
    width mobi-width

  .links
    display none

  .author
    margin 0 0 2em
    font-size 12px
    img
      width 12em
      height 12em

  .box-item
    width mobi-width

  .pagination
    width mobi-width

  .post
    width mobi-width

    h1
      text-align center
      padding .5em 0 1em

@media screen and (min-width: 480px)
  .menu-btns
    width main-width

  .links
    display block

  .author
    margin 4em 0

  .box-item
    width main-width

  .pagination
    width main-width

  .post
    width main-width

    h1
      text-align center
      padding 1em 0 2em
