.menu-btns
  text-align right
  width main-width
  margin auto
  a
    vertical-align top
    display inline-block
    width 30px
    height 30px
    line-height 30px
    text-align center
    color #ccc

#sidebar
  position fixed
  top 0
  right 0
  bottom 0
  left 120%
  transition left 500ms
  background #fff
  z-index 100
  border-left 1px solid #eee
  box-shadow -2px 0 4px #eee
  .close-btn
    border none
    background none
    outline none
    width 2em
    height 2em
    left 0 !important
    top 0
    margin-left -2em
    color #999
    position absolute

.slide
  left 70% !important

#navigation
  h2
    padding-left .5em
    border-bottom 1px solid #eee
    color #999
    margin 0
    line-height 2
    background: #eeeeee; /* Old browsers */
    background-image: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  ul, li
    list-style none
    padding 0
    margin 0
  ul > li
    line-height 2
    border-bottom 1px solid #eee
    margin 0 .5em

  a
    text-decoration none
    display block
    padding-left 1em
    color #999

  a:hover
    background #eee
