.post
  color #555
  width main-width
  margin auto
  padding-bottom 5em
  p
    line-height 1.6em
    text-align justify
    font-size .9em
    text-indent 2em

  h1
    text-align center
    padding 1em 0 2em
    border-bottom 1px dashed #eee

  h2
    padding .5em 0
    margin .5em 0
    border-bottom 1px dashed #eee

  h3, h4, h5, h6
    padding .25em 0
    margin .25em 0

  .post img
    margin 4em auto
    display block

  blockquote
    border-left .5em solid #eee
    margin-left 0
    padding-left 2em

  pre
    padding 1.5em 2em
    border-radius .3em

  code
    padding 0
    text-indent 1em

  .stamp
    color #ccc
    margin 0 0 1em

  figure
    width 100%
    margin 0

  .cite
    text-indent 0
    a
      color #aaa
